@model Agri_Energy_Connect.Models.Product

@{
    ViewData["Title"] = "Index";
}
@{
    @* This code was adapted from Bootswatch
    https://bootswatch.com/litera/
    The following code has been adapted
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Success card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-danger mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Danger card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Warning card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Info card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Light card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Dark card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div> *@
    <div>
    
        <div class="col-md-4 mb-3">
           
                @* <img src="@item.ImageUrl" class="card-img-top" alt="Product Image"> *@
                <div class="card-body">
                    <h4>@Html.DisplayFor(model => model.ProductName)</h4>
                    <p>R @Html.DisplayFor(model => model.ProductPrice)</p>
                    <p>Production Date: @Html.DisplayFor(model => model.ProdDate)</p>
                    <p>Category Name: @Html.DisplayFor(model => model.Category.CategoryName)</p>
                    <p>Farmer Name: @Html.DisplayFor(model => model.User.FullName)</p>
                </div>
                <div>
                    <label for="Message" class="form-label mt-4">Message</label>
                    <textarea class="form-control" placeholder="Type your message here" id="Message" rows="3"></textarea>
                </div>
            <a asp-action="MessageSent" class="btn btn-secondary">Send Message</a>


        </div>
        
    
</div>}


