@model IEnumerable<Agri_Energy_Connect.Models.Product>


@{
    ViewData["Title"] = "Index";
}
@{

    var user = Context.Session.GetString("userRole");
    <h1>Products</h1>

    <form asp-controller="Product" asp-action="Index" method="get" class="navbar-form">
        <label for="Start Date">Start Date:</label>
        <input type="date" id="StartDate" name="StartDate">
        <label for="End Date">End Date:</label>
        <input type="date" id="EndDate" name="EndDate">

        <p> </p>
        <label for="Category">Category:</label>

        <select name="Category" id="Category" asp-items="ViewBag.CategoryId"></select>

        <p> </p>
        <input type="text" name="searchString" class="form-control" placeholder="Search for a Product or Farmer">
        <br />
        <button type="submit" class="btn btn-secondary search-button">Search</button>
        <br />
    </form>
    <br />


    if (user == "Farmer")
    {
        <p>
            <a asp-action="Create">Add a New Product</a>
        </p>
        <form asp-controller="Product" asp-action="Index" method="get" class="navbar-form">

            <a asp-action="MyProduct">My Products</a>
        </form>
        <p />
    }

}
@* This code was adapted from Bootswatch
    https://bootswatch.com/litera/
    The following code has been adapted
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Success card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-danger mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Danger card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Warning card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Info card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Light card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card border-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Dark card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div> *@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 23rem; height: 30rem;">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h4>

                    <img src="@item.ProductImg" class="card-img-top" height="200" width="70" alt="Product Image">

                    <p class="card-text">R @Html.DisplayFor(modelItem => item.ProductPrice)</p>
                    <p class="card-text">Production Date: @Html.DisplayFor(modelItem => item.ProdDate)</p>
                    <p class="card-text">Category Name: @Html.DisplayFor(modelItem => item.Category.CategoryName)</p>
                    <p class="card-text">Farmer Name: @Html.DisplayFor(modelItem => item.User.FullName)</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-secondary">Details</a>
                    @if (user == "Farmer")
                    {
                        <a asp-action="ContactFarmer" asp-route-id="@item.ProductId" class="btn btn-secondary">Contact Farmer</a>
                    }
                </div>
            </div>
        </div>
    }
</div>